# Dependencies
node_modules/
node-env/

# Build artifacts
dist/*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
*.code-workspace
.vscode/
.idea/
*.swp
*.swo
